div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}
.translated{
    transform: perspective(50px) translateZ(-80px);
    /* transform: perspective(10px) translateZ(-10px); */
}
/* zooming */
.scaled{
    margin: 100px;
        transform: perspective(350px) scaleZ(6) rotateX(45deg) rotateY(30deg);
    /* transform: perspective(350px) scaleZ(6) rotate(45deg) rotateY(30deg); */
    /* transform: rotate(35deg);  */
    /* transform: perspective(350px) scaleZ(4) rotateX(15deg) rotateY(30deg); */
}
