div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}
.translated{
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    margin: 200px;
    transform: perspective(350px) scaleZ(20) rotateX(15deg) rotateY(30deg);
}