.contaniner{
    height:200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
    /* flex-direction: row; */

                     /* flex-wrap uses */
    /* flex-wrap: wrap; */
     /* flex-wrap: wrap-reverse; */
     flex-wrap: nowrap;
}
.box{
    
    border:1px solid black;
    background-color: aquamarine;
    width: 50px;

}