/* p{
    position: static;
} */

div{ 
     width: 150px;
    height: 150px;
    background-color: rgb(210, 24, 24);
    border:1px solid black;
    display: inline-block;
} 

/* relative property */
#box3{
      position: relative;
    left:50px;
    top:100px;
    border: 1px solid palevioletred;
    left: 50px;
  
    /* position: relative;
    left:15px;
    top:100px;
    border: 1px solid palevioletred;
    left: 50px;
   */
}
#pp{
    position: fixed;

}
#wrapper{
     height: 2000px;
     width: 100vw;
     display: inline-block;
     background-color: brown;
}
